* {
    margin: 0;
    padding: 0;
    box-sizing: under-box;
    text-decoration: none;
    font-family: Helvetica, Sans-Serif;

}

ul {
    display: flex;
    justify-content: space-around;
    overflow: hidden;

    list-style: none;



}


li {
    float: left;
}

li a :hover {
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 0px 0px;
}

.siu {
    position: fixed;
    width: 100%;

}

.cls-11,
.cls-12,
.cls-13 {
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.cls-11 {
    fill: url(#linear-gradient-1);
}

.cls-12 {
    fill: url(#linear-gradient-1-2);
}

.cls-13 {
    fill: url(#linear-gradient-1-3);
}

.cls-14 {
    fill: url(#linear-gradient-1-4);
}

.cls-15 {
    fill: url(#linear-gradient-1-5);
}

.cls-16 {
    fill: url(#linear-gradient-1-6);
}

.cls-17 {
    fill: url(#linear-gradient-1-7);
}

.cls-18 {
    fill: url(#linear-gradient-1-8);
}

.cls-19 {
    fill: url(#linear-gradient-1-9);
}

.cls-20 {
    fill: url(#linear-gradient-1-10);
}

.header--inner {
    background: var(--miko-gradient);
    padding: 27px;
}

.header {
    padding: 1.125rem 0 1rem;
    transition: all 0.3s;
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

/* body {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
} */

body {
    font-family: var(--miko-font);
    font-size: .875rem;
    font-weight: 400;
    color: #000;
    margin: 0;
    line-height: 1.5;
}

:root {
    --swiper-navigation-size: 22px;
}

:root {
    --miko-font: "SVNAptima";
    --miko-color: rgb(52, 213, 209);
    --miko-gradient: linear-gradient(270deg, #70efd1 0, #1bc1c1 100%);
    --swiper-theme-color: rgb(52, 213, 209);
    --color-stop: #70efd1;
    --color-bottom: #1bc1c1;
    --zindex-dropdown: 1000;
    --zindex-sticky: 1020;
    --zindex-fixed: 1030;
    --zindex-modal-backdrop: 1040;
    --zindex-modal: 1050;
    --zindex-popover: 1060;
    --zindex-tooltip: 1070;
    --zindex-loading: 1090;
}

:root {
    --swiper-navigation-size: 44px;
}

:root {
    --swiper-theme-color: #007aff;
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: linear-gradient(180deg, #70efd1 0, #1bc1c1 100%);
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-corner {
    background-color: #E6F4EB;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background: linear-gradient(180deg, #70efd1 0, #1bc1c1 100%);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: #c3c3c3;
}

.anh {
    border-radius: 50%;
    height: 10px
}

.box-search {
    margin-top: 45px;

}


.style {
    position: relative;
    height: 40px;
    line-height: 40px;
}

.banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px auto 40px auto;
    max-width: 1200px;
}

.banner-text {
    text-align: center;
}

.QEQvp {
    margin-bottom: 16px;
}

blockquote,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: space-around;
}


.navigation-footer-component {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: nowrap;
    gap: 1.2rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 108.4rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-shadow: 0.1rem 0.1rem rgba(49, 46, 43, .6);
    width: 100%;
}

.modau {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    margin: 25px auto 40px auto;
    max-width: 1200px;
}

#menu>div.title-block {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    width: 100%;
    max-width: 628px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    text-align: center;
}

#menu>div.w-dyn-list {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
}

#menu>div.w-dyn-list>div {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#menu>div.w-dyn-list>div>div {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
}

#w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9 {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    cursor: pointer;
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

#w-node-_669d0e1a-468a-1749-e1b7-a05bba00589c-d2e400f9 {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

#w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9>div.time-wrapper {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    margin-top: 12px;
    -webkit-box-align: center;
    align-items: center;
}

#w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9>h4 {
    -webkit-text-size-adjust: 100%;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 0px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-family: Oswald, sans-serif;
    color: #000;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
}

#w-node-_669d0e1a-468a-1749-e1b7-a05bba00589c-d2e400f9>img {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

#w-node-_8ffb550a-e009-04d3-1acc-15e35ddfe294-d2e400f9>div.time-wrapper>div {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 4px;
    color: #888;
    font-size: 14px;
    line-height: 1;
}

.danhchoban {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    line-height: 170%;
    box-sizing: border-box;
    width: 100%;
    max-width: 628px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    text-align: center;
}

body>div.stats-section>div>div {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    display: grid;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 16px;
    grid-template-columns: minmax(200px, 277px) minmax(200px, 500px) minmax(200px, 277px);
    grid-template-rows: auto;
    text-align: center;
}

#w-node-b669178c-9b44-c078-3fed-ad04305c8801-d2e400f9 {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    box-sizing: border-box;
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

#w-node-_4420e09f-6147-869a-586f-eee30d79f061-d2e400f9 {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 90px;
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

#w-node-_4420e09f-6147-869a-586f-eee30d79f061-d2e400f9>div {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: #000;
    font-size: 22px;
    line-height: 1;
}

#w-node-b669178c-9b44-c078-3fed-ad04305c8801-d2e400f9>div:nth-child(2)>div {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: #000;
    font-size: 22px;
    line-height: 1;
}

#w-node-df0f4792-ec39-be31-5bbb-5628787feb59-d2e400f9 {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    box-sizing: border-box;
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

#w-node-_5171f11a-0761-4927-6b0d-aa04d0fa19e9-d2e400f9 {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    box-sizing: border-box;
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

#w-node-_5171f11a-0761-4927-6b0d-aa04d0fa19ea-d2e400f9 {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 90px;
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

#w-node-_5171f11a-0761-4927-6b0d-aa04d0fa19e9-d2e400f9>div:nth-child(2)>div {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: #000;
    font-size: 22px;
    line-height: 1;
}

body>div.stats-section {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    position: relative;
    padding-top: 80px;
    padding-bottom: 120px;
}

body>div.stats-section>div {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1326px;
    padding-right: 15px;
    padding-left: 15px;
}

body>div.stats-section>img {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left: 18%;
    top: -52px;
    z-index: -1;
    max-width: 760px;
}

body>div.footer {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    padding-top: 55px;
    background-color: #f9fbf2;
}

body>div.footer>div {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1326px;
    min-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
}

body>div.footer>div>div.footer-top {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    box-sizing: border-box;
    display: flex;
    padding-bottom: 50px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid #000;
    font-size: 14px;
    line-height: 170%;
    text-align: right;
}

body>div.footer>div>div.foter-bottom {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    box-sizing: border-box;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: center;
}

body>div.footer>div>div.footer-top>img {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 14px;
    line-height: 170%;
    text-align: right;
    box-sizing: border-box;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

body>div.footer>div>div.footer-top>div>p {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    text-align: right;
    box-sizing: border-box;
    margin-top: 0;
    font-size: 16px;
    line-height: 170%;
    font-weight: 400;
    margin-bottom: 0px;
}

body>div.footer>div>div.foter-bottom>ol {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    margin-bottom: 0px;
}

body>div.footer>div>div.foter-bottom>div>a {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
    color: #444;
    text-decoration: none;
}

body>div.footer>div>div.foter-bottom>ol>li {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    list-style: none;
    box-sizing: border-box;
    margin-right: 30px;
}

body>div.footer>div>div.foter-bottom>ol>li.link-item.last {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    color: #444;
    font-size: 16px;
    line-height: 170%;
    list-style: none;
    box-sizing: border-box;
    margin-right: 0px;
}

body>div.footer>div>div.foter-bottom>ol>li>a {
    -webkit-text-size-adjust: 100%;
    font-family: Urbanist, sans-serif;
    font-size: 16px;
    line-height: 170%;
    list-style: none;
    box-sizing: border-box;
    background-color: transparent;
    color: #444;
    text-decoration: none;
}

.header__nav_container {
    width: 100%;
    height: 100px;

    background-image: linear-gradient(to right, rgb(23, 181, 202), rgb(251, 215, 70))
}


body {
    /* background-image: linear-gradient(to right bottom,
            rgba(0, 173, 253, 0.822),
         rgba(255, 166, 0, 0.761),
            url("https://cdn.alongwalk.info/vn/wp-content/uploads/2022/03/03063942/image-lung-linh-cao-oc-sai-gon-ve-dem-164623918210978.jpg"));
    background-size: cover; */
    background-color: rgba(186, 188, 187, 0.17);
}
.menu1 a:hover{
box-shadow: #444;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
  font-family: sans-serif,'Open Sans';
}

.searchTerm {
  width: 100%;
  border: 3px solid #ccaa00;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #cc0000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px #cc0000;
  background: #cc0000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 30px;
}
.modal-title{
    background-image: linear-gradient(to right,#181818,#000000);
   
   
 }
 /* .modal-son{
    margin-left: 50%;
 }
 .modal-don{
    margin-right:50% ;
 } */
 .slide{
   display: flex;
    width: 550px;
   height: 200px;
   justify-content: space-between;
 }

/*Resize the wrap to see the search bar change!*/
